<p class="text-center text-muted">
<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" class="footer__image"><img src="img/Licenco.png"></a>
an <a href="https://intertino.it"> intertino </a> project</p>
