<!DOCTYPE html>
<html lang="en">
<head>
	  <%- include('../partials/head'); %>
</head>

<body class="container">
  <header>
	<%- include('../partials/header'); %>
  </header>
  <main>
  <div class="jumbotron">
    <h1>text corrector</h1>
	<p>Text corrector calls a back end to correct the content and style of emails.</p>
</div>		
</main>
	<footer>
	  <%- include('../partials/footer'); %>
	</footer>

    </body>
</html>



